#calendar-container
{
	padding: 10px;
	width: 975px;
	height: 950px;
	text-align: center;
	border: 1px solid #eee;
	border-radius: 30px;
	font-size: 40px;
	font-family: Arial;
	background-image: linear-gradient(#fff, #ffd700);
}

#calendar-container>div
{
	padding:0px;
	margin-bottom: 10px;
}

#calendar-month-year
{
	margin: 10px;
}

#calendar-dates>table>tr>td
{
	padding: 45px;
	
	outline-style: solid;
	outline-color: black;
	outline-offset: 1px;
	background-image: linear-gradient(#fff, #ffd700);

}

#prev
{
	float: left;
	margin: 15px;
	padding: 5px;
	font-size: 20px;
}

#next
{
	float: right;
	margin: 15px;
	padding: 5px;
	font-size: 20px;
}